.body__sub-body {
  background-color: white;
}

#carouselExampleControls {
  height: 45vh;
}

.carousel-item img {
  transform: scale(1, 1);
}

.header-text {
  position: absolute;
  z-index: 2;
  top: 40%;
  left: 45%;
}
.header-text a {
  text-decoration: none;
  color: white;
}

.info-about__text {
  width: 100%;
  display: flex;
}

.body__sub-body {
  display: block;
}

.sub-body__form {
  display: flex;
  height: 100%;
  margin: auto;
  font-size: 14px;
  width: 74%;
}

.body__info-about {
  display: block;
  width: 100%;
}

.body__info-update-news {
  width: 25%;
  margin-left: 4%;
  display: flex;
}

.text__label {
  width: 25%;
  height: 100%;
  font-weight: 500;
}

.text__form {
  width: 70%;
  height: 100%;
  margin-left: 0%;
}

.text__form__service-form {
  width: 100%;
  height: 100%;
}

.check-form__form {
  height: 100%;
  width: 33.3333333%;
}
.check-form__form label {
  margin-left: 0px;
}

.check-box {
  width: 100%;
  height: 100%;
  display: flex;
}
.check-box > div:nth-child(3), .check-box > div:nth-child(5) {
  margin-left: 2%;
}

.form__name {
  width: 100%;
}
.form__name input {
  width: 100%;
}

.info-about__text {
  font-size: 14px;
}
.info-about__text:first-child > .text__form input {
  width: 100%;
  line-height: 2em;
  border-radius: 1%;
  border: gray solid 1px;
  /* outline: none; */
}
.info-about__text:first-child > .text__form > div {
  margin-top: 15px;
}
.info-about__text:first-child > .text__form label {
  margin-left: 0px;
}

.form__company input {
  width: 100%;
}

#goods {
  margin-top: 7%;
  margin-left: -3%;
}
#goods .company__name input {
  padding-right: 0px;
}

.company__tax-number {
  padding-right: 0px;
}

#button:hover {
  color: white;
}

label {
  margin-left: 0%;
}

.body__info-update-news {
  height: 100%;
  padding-top: 0%;
  width: 74%;
  margin: auto;
  margin-top: 100px;
  display: block;
}
.body__info-update-news label {
  padding-left: 0px;
}

.info-update-news__text {
  width: 100%;
}
.info-update-news__text textarea {
  width: 100%;
  border-radius: 0px;
  outline: 0.5px solid black;
  border: none;
}
.info-update-news__text button {
  width: 40%;
  height: 40px;
  outline: none;
  color: black;
  background-color: rgb(218, 218, 218);
}
.info-update-news__text .form-group col label {
  font-size: 30px;
}

h6 {
  font-size: 14px;
  margin-left: 0px;
}

.info-update-news__card {
  margin-left: -4%;
}
.info-update-news__card select {
  margin-left: -112%;
}
.info-update-news__card .form-group {
  margin-top: 50px;
}
.info-update-news__card .text__text {
  margin-top: 50px;
  padding-left: 0px;
}

#select2 {
  margin-left: 0px !important;
  padding-left: 0px;
  outline: 1px gray solid;
  border: none;
  width: 100%;
}

#password {
  margin-left: 0px;
  padding-left: 0px;
  outline: 1px gray solid;
  border: none;
}

.info-update-news__card {
  width: 100%;
}

.info-update-news__text img {
  height: 100%;
  width: 100%;
}

.text__text a {
  color: black;
  text-decoration: none;
}

#contact {
  margin-left: 2%;
}

.body__sub-body {
  padding-bottom: 100px;
}

#text__right-form {
  display: flex;
}

#right_img {
  padding-left: 0px;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .col-md-12 {
    padding-right: 0px;
  }

  .check-form__form {
    margin-left: -2.5%;
    font-size: 12px;
  }

  .body__info-update-news {
    display: flex;
  }
  .body__info-update-news .info-update-news__text {
    padding-left: 0px;
    width: fit-content;
  }
  .body__info-update-news .info-update-news__card {
    margin-left: 0%;
    margin-top: -7%;
  }
  .body__info-update-news .info-update-news__card select {
    margin-left: -112%;
  }
  .body__info-update-news .info-update-news__card .form-group {
    margin-top: 50px;
  }
  .body__info-update-news .info-update-news__card .text__text {
    margin-top: 50px;
    padding-left: 0px;
  }
  .body__info-update-news #contact {
    margin-top: 10px;
    margin-left: -4%;
  }

  .sub-body__form {
    width: 100%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .col-md-12 {
    padding-right: 0px;
  }

  .check-form__form {
    margin-left: -2.5%;
    font-size: 12px;
  }

  #goods {
    margin-left: -2%;
  }

  .body__info-update-news .info-update-news__card {
    margin: auto;
  }
  .body__info-update-news .info-update-news__card .text__text {
    margin-left: 1.5%;
    margin-top: 50px;
  }
  .body__info-update-news .info-update-news__text {
    margin: auto;
  }
  .body__info-update-news .text__text {
    margin: auto;
  }
  .body__info-update-news #contact {
    margin-left: 0%;
  }

  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: 0px;
  }

  element.style {
    padding-left: 0px;
  }

  .info-update-news__text button {
    margin-left: 1.5%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .col-md-12 {
    padding-right: 0px;
  }

  .check-form__form {
    margin-left: -2.5%;
    font-size: 12px;
  }

  #goods {
    margin-left: -2%;
  }

  .body__info-update-news .info-update-news__card {
    margin: auto;
    margin-left: 0px;
    padding-left: 0px;
  }
  .body__info-update-news .info-update-news__text {
    margin: auto;
  }
  .body__info-update-news .text__text {
    padding-left: 0px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1560px) {
  .col-md-12 {
    padding-right: 0px;
  }

  .check-form__form {
    margin-left: -2.5%;
    font-size: 12px;
  }

  #goods {
    margin-left: -2%;
  }

  .sub-body__form {
    display: flex;
  }

  .body__info-update-news {
    width: 25%;
    margin-left: 0%;
  }
  .body__info-update-news .info-update-news__text {
    padding-left: 15px;
  }

  .sub-body__form {
    display: flex;
    height: 100%;
    margin: auto;
    font-size: 14px;
    width: 1200px;
  }

  .info-update-news__text {
    margin-top: 100px;
  }

  .form-group {
    margin-bottom: 1rem;
    margin-top: -98px;
    position: relative;
  }

  .info-update-news__card .form-group {
    margin-top: 50px;
  }

  #contact {
    margin-left: -10%;
  }
}

/*# sourceMappingURL=Service.css.map */
